@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --main-color: #368234;
    --dark-white: #f1f2f3;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-white);
    color: #68727d;
}

header {
    z-index: 1000;
}

/* ---------------------------------------------------------------------- */
/* ------------------------------- HEADER ------------------------------- */
/* ---------------------------------------------------------------------- */

/* ---------------- PATROCINADOR ---------------- */
.header-brand {
    text-align: center;
}

.header-brand img {
    width: 300px;
    margin: 10px;
}


/* ---------------- BARRA DE NAVEGACION ---------------- */
.navbar {
    position: fixed;
    box-shadow: 0 2px 6px 0 rgb(12 13 14 / 25%);
    background-color: var(--main-color);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Menu de navegacion */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    position: relative;
    float: left;
}

.navbar ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 18px;
    margin: 0;
    display: block;
    text-decoration: none;
    color: white;
}

.fas {
    float: right;
    margin-left: 10px;
}

.navbar ul li:hover {
    background-color: var(--dark-white);
}

.navbar ul li:hover .menu-item{
    color: var(--main-color);
}


/* ---------------- BARRA DE DROPDOWN ---------------- */
.navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: var(--main-color);
    display: none;
}

.navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

.navbar ul li ul li:hover {
    background-color: var(--dark-white);
}

.navbar ul li ul li:hover a{
    color: var(--main-color);
} 

/* Dropear el Sub Menu */
.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul{
    display: initial;
}


/* ---------------------------------------------------------------------- */
/* ------------------------------- TOGGLE ------------------------------- */
/* ---------------------------------------------------------------------- */
.toggle{
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
}

#toggle-img{
    cursor: pointer;
}


/* ---------------------------------------------------------------------- */
/* ------------------------------- RESPONSIVE ------------------------------- */
/* ---------------------------------------------------------------------- */

@media (max-width: 768px){

    .header-brand {
        text-align: left;
    }
    
    .header-brand img {
        width: 200px;
        margin: 10px;
    }
    
    /* ---------------- TOGGLE ------------------------- */
    .toggle{
        display: block;
        float: right;
        margin-right: 10px;
        margin-top: -60px;
        z-index: 50000;
    }
    
    .toggle img{
        width: 60px;
    }

    .navbar{
        position: absolute;
        left: 0; right: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    .navbar ul li{
        width: 100%;
    }

    .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    .navbar ul li ul li{
        width: 90%;
        left: 10%;
        background-color: var(--main-color);
    }

    .nav-menu_visible{
        display: initial;
    }

}

/* ------------------------------- CONTENIDO PRINCIPAL ------------------------------- */
main {
    padding: 60px;
}